
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 100vh;
    grid-gap: 20px;
    grid-template-areas: 
    "a b b c"
    "a d e f"
    "a g h f";   

}

.container> :nth-child(1){
    grid-area: a;
    height: 100%;
}
.container> :nth-child(2){
    grid-area: b;
    height: 100%;
}
.container> :nth-child(3){
    grid-area: c;
    height: 100%;
}
.container> :nth-child(4){
    grid-area: d;
    height: 100%;
}
.container> :nth-child(5){
    grid-area: e;
    height: 100%;
}
.container> :nth-child(6){
    grid-area: f;
    height: 100%;
}
.container> :nth-child(7){
    grid-area: g;
}
.container> :nth-child(8){
    grid-area: h;
}






















:root{

    --repeatedcolor : rgb(41, 157, 6);
    --repeatedcolor2: rgb(168, 5, 5);
    --repeatedcolor3: orange;
}
.container> :nth-child(1),
.container> :nth-child(2),
.container> :nth-child(6){
    background-color: var(--repeatedcolor);
}
.container> :nth-child(3),
.container> :nth-child(5),
.container> :nth-child(7){
    background-color: var(--repeatedcolor2);
}
.container> :nth-child(4),
.container> :nth-child(8){
    background-color: var(--repeatedcolor3);
}


